PORT=3000
GRAPH_API_VERSION=v23.0
# Access token có quyền trên Page (pages_manage_posts, pages_read_engagement, pages_read_user_content, read_insights)
PAGE_ACCESS_TOKEN=EAAQPYnFxaCIBRN5PyMZC1BxRjFlS1W0Dl0zJxkUaE1KetelkWWZAREBKUMv3lZB1wD7HkBouIcgKC7m43GpeVbga14sIsu6WxvKicdJUxHIC3aDxSkleurkj4Ox6NBLU0UnbUZAbNzjPtXGh8nzAndLHhz9EsHFRfUO9E7RKj2uulaCtquhRNKRjRqiK9crVDVSsFJg6XUF2rwZC6ZBbYA50Qs1KkDSe2SJadiyvyEuhnaelXG2PmtBLZAHzmEWSxZAFJ7EZAGy69lgUZD