PORT=3000
GRAPH_API_VERSION=v23.0
# Access token có quyền trên Page (pages_manage_posts, pages_read_engagement, pages_read_user_content, read_insights)
PAGE_ACCESS_TOKEN=EAAMJsmUD66IBRoz4u0FiYe0Bpj9yL1NkjVJkjc5Kv5lyk4sC0wQuAPObM7OKq0hqJ3nBIIHbghiziFrTPXTQlFTTnriKxBWXSrZBc8qRY5iteFQ7kYKh4yZC1pZCwXKglfFv5bwC7Yj8t1TIQFknEeMdUWJ3Q3btZCVLiv72DvmKxHSiXvziLOt7qMZAZAG5zdfZCtC03KrdO2ZClKNdnIdaF7YkQQB04ihfLsZAxZANA0BtubPtuKcFuEkhYBLDgZD
ADMIN_TOKEN=admin_thanhngan_123
WEBHOOK_SKIP_SIGNATURE=false

# Kafka settings
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=raw_events
KAFKA_CLIENT_ID=webhook-service
KAFKA_CONNECT_RETRIES=10
KAFKA_CONNECT_RETRY_DELAY_MS=2000